.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: center;
}
img {
    margin-left: 40px;
    margin-right: auto;
    width: 300px;
    display: block;
    border: 10px solid black;
}
body {
    background: linear-gradient(to bottom, rgb(116, 116, 228) 15%, rgb(172, 91, 172) 60%, rgb(228, 81, 81) 80%);
    display: fill;
}
.general1 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
    margin-left: auto;
}